<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center;">
      <div><%= image_tag 'taboo_splash.jpg' %></div>
      <div><%= link_to 'Next Round', card_path, class: 'btn btn-primary btn-block active' %></div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

